@import "src/custom-styles";

#mainframe {
  height: 100vh;
}

#left-panel {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  width: 25%;
  border: 1px solid $border-color-frame;
  height: 100%;
}

#chat-frame {
  border-top-right-radius: 1rem;
  width: 100%;
  height: 100%;

  border: 1px solid $border-color-frame;
  border-left: none;

  justify-content: space-between;
}

#bottom-frame {
  align-items: center;
  border-top: 1px solid $border-color-frame;
}

#msg-body {
  flex-grow: 1;
  padding: .5rem 1rem;
  height: 500px;
}

#contacts-body {
  display: flex;
  flex-direction: column;
}

#input-append-search-box {
  background: transparent;
  border: 1px solid $primary;
  color: $primary;
}

#top-bar-append {
  justify-content: space-evenly;

  div {
    flex-grow: 1;
    border: 1px solid lighten($chat-bg-color, 10%);
    text-align: center;
  }
}

.text-centered {
  text-align: center;
}

.img-avatar {
  border-radius: 50%;
  margin: 0;
}

.vertical-centered {
  vertical-align: center;
  align-items: center;
}

.m-card {
  width: fit-content;
  border-radius: .75rem;
  margin: .5rem;
  padding: 0.25rem 1rem;
}

.m-card-other {
  background: #ECEFF1;
  color: black;
}

.m-card-self {
  background: #171717;
  color: lightgrey;
}

input {
  width: 100%;
}
