<div class="container-fluid p-0">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">DISLEXICAHT</a>
    <button class="ml-5 btn btn-outline-primary" (click)="openLoginModal()">
      Login
    </button>
  </nav>

  <div class="ml-5">
    <h1 class="mb-2 mt-5">
      Se você cehgou até aqui...
    </h1>
    <h3 class="ml-4 mb-3 mt-4">
      Então provavelmente perdido...
    </h3>
    <p class="ml-5 mb-5 mt-5">
      Mas nõa há problema, pois todos nós etamos.
    </p>
    <br><br>
    <h3 class="ml-5">Sim.</h3>
    <p class="ml-4">Faz loign la em cima, vai!</p>
  </div>
</div>
