$base-theme: Bootstrap;

$skin-name: darkair;
$swatch-name: Bootstrap;

$black: #001011;
$primary: #FBE137;
$yellow: #F0D105;
$red: #B80C09;
$blue: #1E2EDE;
$green: #36AB45;
$cyan: #4DA897;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$body-bg: $black;
$dropdown-bg: $gray-400;
$dropdown-color: $white;
$dropdown-border-color: rgba($black, 1);
$dropdown-padding-y: .75rem;
$headings-color: $gray-200;
$headings-font-weight: 600;
$navbar-padding-y: $spacer / 1.5;
$paragraph-margin-bottom: 1.3rem;
$yiq-text-dark: $gray-100;
$enable-shadows: true;
$body-color: $gray-100;
$jumbotron-bg: $gray-600;

$border-radius: 1.25rem;
$chat-bg-color: $gray-900;
$border-color-frame: lighten($chat-bg-color, 10%);

.form-control {
  border-radius: $border-radius;
}

.btn {
  border-radius: .75rem;
}

.top-bar {
  flex-grow: 1;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  padding: .75rem;
  height: 4rem;
  border-bottom: 1px solid $border-color-frame;
}

.top-bar-half-height {
  flex-grow: 1;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  padding: .75rem;
  height: 2rem;
  border-bottom: 1px solid $border-color-frame;
}

.bg-chat-bg {
  background-color: $chat-bg-color;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background: $chat-bg-color;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($secondary, 15%);
}

.contact-card {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid $border-color-frame;
  height: 4rem;

  *:not(:first-child) {
    margin: 0 0 0 .75rem;
  }

}

.contact-card:hover {
  background: $chat-bg-color
}

.contact-card:focus {
  background: lighten($chat-bg-color, 10%);
  outline: none;
}
